.section-one {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

    background-image: linear-gradient(135deg, #81ffef 10%, #f067b4 100%);
}

$color-1: #ebf5fc;
$color-2: #000508;
$color-3: #3180b1;

$box-shadow-1: -0.2rem -0.2rem 0.5rem rgba(255, 255, 255, 1),
    0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
$box-shadow-2: inset -0.2rem -0.2rem 0.5rem rgba(255, 255, 255, 1),
    inset 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);

.keypad {
    background-color: $color-1;
    padding: 2rem;
    border-radius: 5rem;
    box-shadow: $box-shadow-1;
    &__display {
        padding: 2rem;
        &__text {
            outline: none;
            border: none;
            padding: 1rem;
            box-shadow: $box-shadow-1;

            background-color: lighten($color-1, 3%);
            width: 100%;
            resize: none;
            font-size: 1.6rem;
            color: $color-2;
            letter-spacing: 1px;
        }
    }

    &__keys {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        &__row {
            display: flex;
            gap: 0.8rem;
            justify-content: center;
        }
        &__key {
            height: 4rem;
            width: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.8rem;
            color: $color-2;
            text-transform: uppercase;
            box-shadow: $box-shadow-1;
            cursor: pointer;
            user-select: none;

            &:active {
                box-shadow: $box-shadow-2;
                color: $color-3;
            }

            &--space {
                width: 20rem;
            }
            &--shift,
            &--del {
                width: 6rem;
            }

            &--shift-checkbox {
                appearance: none;
            }

            &--shift-checkbox:checked + &--shift {
                box-shadow: $box-shadow-2;
                color: $color-3;
            }
        }
    }
}
